.educationSection {
    position: relative;
    background-color: #e4e4e4;
    border-radius: 8px;
    overflow: hidden;
  }
  
  .headerImageContainer {
    position: relative;
    width: 100%;
    height: 150px;
    overflow: hidden;
  }
  
  .headerImage {
    position: absolute;
    object-fit: cover;
  }
  
  .educationDetails {
    display: flex;
    justify-content: center;
    margin-top: -15px;
    flex-direction: column;
    align-items: center;
  }
  
  .schoolLogo {
    position: relative;
    margin-top: -50px;
    width: 60px;
    height: auto;
    margin-left: 2rem;
  }
  
  .educationBlock {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
  }
  
  .educationBlock h4 {
    font-size: 1.25rem;
    margin: 8px 0;
    text-decoration: underline;
  }
  
  .educationBlock h5 {
    font-size: 1rem;
    font-style: italic;
    font-weight: normal;
    margin: 0;
  }
  
  .majorContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; 
    gap: 12px;
    margin-top: 16px;
  }
  
  .educationSection h3 {
    position: relative;
    text-align: center; 
    font-size: 1.5rem;
    margin-top: 5px;
  }
  
  .icon {
    margin-right: 8px;
    font-size: 2rem;
  }
  
  .majorItem {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 8px 0;
    font-size: 1.25rem;
  }
  
  .majorItem p {
    font-size: 1rem;
  }
  
  .graduationItem {
    display: flex;
    align-items: center;
    font-size: 1.25rem;
    justify-content: center;
    margin-top: -16px;
  }
  
  .graduationItem p {
    font-size: 0.9rem;
    margin-left: 5px;
  }
  
  .gpaContainer {
    position: relative;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    font-style: italic;
    margin-top: -10px;
  }
  
  @media (min-width: 768px) {
    .educationDetails {
      flex-direction: row;
      margin-top: 0px;
    }
  
    .schoolLogo {
      margin-left: 75px;
      margin-right: 2rem;
      width: 80px;
    }
  
    .educationBlock {
      width: 50%;
    }
  
    .icon {
      font-size: 3rem;
    }
  
    .educationBlock h4 {
      font-size: 1.5rem;
    }
  
    .educationBlock h5 {
      font-size: 1.25rem;
    }
  
    .graduationItem {
      font-size: 1.5rem;
    }
  
    .graduationItem p {
      font-size: 1rem;
    }

    .gpaContainer {
        text-align: center;
        font-size: 1.25rem;
        font-weight: 500;
        font-style: italic;
    }
  }

    @media (min-width: 1150px) {
        .gpaContainer {
            position: absolute;
            text-align: center;
            font-size: 1.25rem;
            font-weight: 500;
            font-style: italic;
            left: 50px;
            top: 180px;
        }
      }
  