.container {
    min-height: 100vh;
    display: flex;
    padding: 0 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }


  .main {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .section {
    margin-bottom: 2rem;
    width: 100%;
  }

  .section > h2 {
    font-size: 2.5rem;
    text-align: center;
    text-transform: uppercase; 
    letter-spacing: 1px; 
    position: relative; 
    margin-bottom: 2rem;
  }

.section > h2:after {
    content: '';
    position: absolute;
    width: 200px; 
    height: 8px; 
    background-color: black; 
    left: 50%;
    transform: translateX(-50%);
    bottom: -10px;
}
  
  .footer {
    width: 100%;
    padding: 0.50rem 0;
    text-align: center;
    border-top: 1px solid #eaeaea;
  }

  @media (max-width: 768px) {
    .section > h2 {
      font-size: 1.6rem;
    }

    .hideOnMobile {
      display: none;
    }
  }

  @media (max-width: 350px) {
    .section > h2 {
      font-size: 1.4rem;
    }
  }
  


  
