.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding: 50px;
  gap: 100px;
}

.imgContactContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.textContainer {
  flex: 1;
  margin-right: 50px;
  position: relative; 
}

.textContainer::after {
  content: "";
  position: absolute;
  left: -20px; 
  top: 5px;
  height: 100%; 
  width: 4px; 
  background-color: black; 
}

.title {
  font-size: 2.5rem;
}

.subtitle {
  font-size: 2rem;
  position: relative;
}

.highlight {
  font-weight: bolder;
  font-style: italic;
  font-size: 1.1em;
  letter-spacing: 1.5px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  margin-top: -0.05em;
}

.imgContainer {
  height: 300px;
  width: 300px;
  border: 4px solid black; 
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  background-color: white;
}


.headshot {
  object-fit: cover;
  height: 380px;
  width: 380px;
  overflow: hidden;
  margin-top: 25px;
}

.icon {
  margin-right: 8px;
  font-size: 2em;
  color: black;

} 

.imgContactContainer {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.contactText {
  margin-bottom: 10px; 
  text-align: center; 
  font-size: 1rem; 
  color: black; 
}

.iconsContainer {
  display: flex;
  gap: 10px; 
}

.icon:hover {
  cursor: pointer;
  transform: scale(1.1); 
}

.contactText {
  display: flex;             
  flex-direction: column; 
  align-items: center;     
  margin-bottom: 5px;    
  margin-top: 5px;    
  font-size: 1rem;       
  color: black;  

}

.contactText span {
  margin-bottom: 2.5px;      
  line-height: 1.25;   
  font-style: italic;      
}

.contactLink{
  color: black;
  text-decoration: none;
}

.contactLink:hover{
  text-decoration: underline;
  cursor: pointer;
}

.wordTransition {
  display: inline-block;
  position: absolute;
  margin-left: 0.75rem;
  font-weight: bolder;
  font-style: italic;
  font-size: 1.1em;
  letter-spacing: 1.5px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  margin-top: -0.05em;
}

.animate {
  transform: translateY(100%);
  opacity: 0;
  animation: slideIn 0.5s forwards;
}

.fadeOut {
  opacity: 0;
  animation: slideOut 0.5s forwards;
}

@keyframes slideIn {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@media (max-width: 768px) {
  .container {
    flex-direction: column; 
    align-items: center; 
    padding: 30px; 
    gap: 30px; 
  }
  
  .textContainer {
    margin-right: 0; 
    text-align: center; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .textContainer::after {
    display: none; 
  }

  .title {
    font-size: 2rem; 
    margin: 0;
  }

  .subtitle {
    font-size: 1.5rem; 
    margin: 0; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-bottom: 1rem;

  }

  .imgContactContainer {
    margin-top: 0; 
  }

  .imgContainer {
    height: 250px;
    width: 250px;
  }

  .headshot {
    height: 250px;
    width: 250px;
  }
  .wordTransition{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin: 0;
    margin-top: 4rem;

  }

  .animate {
    transform: translateX(-100%);
    opacity: 0;
    animation: slideInHorizontal 0.5s forwards;
  }

  .fadeOut {
    transform: translateX(100%);
    opacity: 0;
    animation: slideOutHorizontal 0.5s forwards;
  }

  @keyframes slideInHorizontal {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes slideOutHorizontal {
    from {
      transform: translateX(0);
      opacity: 1;
    }
    to {
      transform: translateX(100%);
      opacity: 0;
    }
  }
}




